<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body style="background-color: white">
    <div style="padding:100px;width: 550px; position: fixed; top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;">
        <h1 style="text-align:center;margin-bottom: 20px;color: darkgoldenrod;">
            <strong th:text="#{project.name}"></strong>
        </h1>
        <h3 style="text-align:right;margin-bottom: 20px;color: #d58512">
            <span th:text="#{project.subtitle}"></span>
        </h3>
    </div>

</body>
</html>
